@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
$primary-color: #0290ff;
$white-color: #fff;
$whitesmoke-color: #fafafa;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $whitesmoke-color;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 9%;
  list-style: none;
  height: 5.938rem;
  background-color: #fff;
}

.links li {
  font-size: 1.5rem;
}

.logo {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.link {
  text-decoration: none;
  color: #000;
  height: 1rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
}

.user {
  border: #e8e8e8 1px solid;
  display: flex;
  height: 2.83rem;
  width: 2.833rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;
}
.rectangle{
  border: none;
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: $primary-color;
  color: #fff;
}
.books {
  opacity: 1;
}
.form{
  margin-bottom: 250px !important;
}

.form-header {
  width: 10.875rem;
  height: 1.5rem;
  margin: 2.813rem 32.75rem 2.188rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #888;
}
.percentage {
 
  color: #121212 ;
  font-size: 2rem;
  padding-left: 20px;
}
.form {
  margin-bottom: 50px;
  margin-left: 10%;

  .input {
    width: 250px;
    height: 2.813rem;
    outline: none;
    border: solid 1px $white-color;
    margin-right: 20px;
    padding-left: 10px;
    background-color: $white-color;
  }
}
.completed {
  opacity: 0.5;
  display: inline-block;
  font-size: 1rem;
  margin-top:10px;
}

.update {
  outline: none;
  border: none;
  margin-left: 50px;
  width: 11.5rem;
  height: 2.063rem;
  background-color: $primary-color;
  padding: 10px 15px !important;
  color: $white-color;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}
.progress-container {
  display: flex;
}
.chapter {
  font-family: RobotoSlab, sans-serif;
  font-size: 26px;
  font-weight: 300;
  margin: 25px 50px;
  color: #121212;
}
.chapter-header {
  opacity: 0.5;
  margin-top: -30px;
}

.circular-progressbar {
  width: 200px;
  height: 100px;
  font-size: 15px;
}

.book-item-main {
  * {
    padding-left: 18px;
  }

  &-main {
    width: 35%;
  }
}

.book-container {
  border: 10px $whitesmoke-color solid;
  background-color: $white-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 100px;
  padding: 10px;
}

.button-show {
  outline: none;
  border: none;
  background-color: $white-color;
  font-size: 24px;
  margin: 30px 0px;
  font-family: RobotoSlab, sans-serif;
  font-weight: 300;
  color: #4386bf;
  border-right: 1px solid rgb(231, 226, 226);
  padding: 0px 15px;

  &:hover {
    cursor: pointer;
  }
}

.author {
  width: 5.813rem;
  height: 1.188rem;
  margin: 10px 0px;
  font-family: RobotoSlab, sans-serif;
  font-size: 26px;
  font-weight: 300;

  color: #4386bf;
}

.category {
  width: 7rem;
  height: 1.125rem;
  margin: 0 4rem 0 0;
  margin: 20px 0px;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: bold;

  color: #121212;
}

.title {
  width: 3.375rem;
  height: 1.813rem;
  margin: 0.188rem 2.125rem 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #121212;
}

.container {
  background-color: $whitesmoke-color;
}

.category-route {
  margin-top: 200px;
  text-align: center;
  color: $primary-color;
}
