* {
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.nav-lists {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-lists .links {
  display: flex;
  gap: 50px;
}

.links a {
  text-decoration: none;
  color: rgb(92, 38, 38);
}

.signup {
  font-size: 1.6em;
  color: rgb(21, 74, 119);
}

.form {
  position: fixed;
  bottom: 100px;
  margin-left: 30%;
}
